.login {
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
	height: 100vh;
	background-image: url(../../assets/img/login-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.login-container {
	background-color: rgba(200, 200, 200, 0.3);
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
	color: #fff;
}

.login-container input,
.login-container input:focus {
	border-color: #fff;
	background-color: transparent;
	color: #fff;
	font-weight: 500;
}

.login-container input[disabled] {
	background-color: rgba(200, 200, 200, 0.5);
}

.signup-link {
	margin-top: 10px;
	border-bottom: 1px solid transparent;
}

.signup-link:hover {
	border-color: #17a2b8;
}

.signup-link a,
.signup-link a:hover,
.signup-link a:link,
.signup-link a:active {
	text-decoration: none;
	color: #fff;
}

.back-link {
	margin-bottom: 10px;
}
