ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #000;
}

#create-button {
	margin-top: 10px;
	margin-bottom: 25px;
}

.nav-link {
	color: white !important;
	}