.statisticsheader {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #092d35;
	color: white;
}

.statisticsheading {
	padding-bottom: 0;
}

.headinglabel {
	margin-top: 8px;
	margin-bottom: 8px;
}
