.layout {
	background-image: url(../../assets/img/background-image.jpg);
	opacity: 0.95;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	min-height: 120vh;
	height: auto;
	background-position: right;
	background-attachment: fixed;
}
