.goalButton {
	margin-left: 15px;
	width: inherit !important;
	height: 40px;
	padding: 15px;
}

#goalButton {
	margin-left: 20px;
}

#goalInputForm {
	max-width: 350px;
}

.goalLabel {
	margin-left: 5px;
	margin-right: 5px;
	width: inherit !important;
}

.goalInput {
	/* margin-left: 50px; */
}

.goal-label-setter {
	margin-left: 5px;
	margin-right: 5px;
}

.goalRow {
	margin-top: 25px;
	margin-bottom: 10px;
	padding-left: 0px;
}

.goalInputRow {
	margin-bottom: 25px;
	padding-left: 0px;
}

.progress {
	height: 35px;
	padding: 0px;
	margin: auto;
}

.progress-bar-container {
	margin-right: 0px;
	padding-right: 0px;
	margin-left: -15px;
	padding-left: 15px;
}

.goal-label {
	margin-left: 6px;
	margin-right: 6px;
}

.progress-bar {
	color: black;
	font-weight: 600;
	font-size: 16px;
}

/* #progress {
	background-color: aqua !important;
} */

#monthGoal {
	color: green;
	padding-right: -20px;
}

#monthGoal:hover {
	transform: scale(1.1);
	text-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
	/* border-bottom: 3px solid whitesmoke !important;
	transition-duration: 0.4s; */
}

@media only screen and (max-width: 426px) {
	label.date-label.col-md-4.goal-label {
		max-width: 100px !important;
	}
}

@media only screen and (max-width: 790px) {
	#goalButton {
		margin-top: 10px;
		width: 50%;
	}
}
