.datepicker {
	width: inherit !important;
	height: 40px;
	margin-left: 6px;
	margin-right: 6px;
}

.date-label {
	font-weight: bold;
}

.datepickerbutton {
	width: inherit !important;
	height: 40px;
	padding: 1px;
}

#MonthDatePickerSelect {
	min-width: 145px;
	max-width: 157px;
}

#YearDatePickerSelect {
	min-width: 95px;
	max-width: 107px;
}

#MonthDatePicker, #YearDatePicker {
	padding-left: 7px;
}
