body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
}

* {
	box-sizing: border-box;
}

span.mapOutput, span.mapTip {
	opacity: 0.85;
	background-color: #f7f7f9;
	padding: 0;
	font-weight: bold;
	color:#17a2b8;
}

.container {
	padding-bottom: 30px;
}
