#event-container .event-item {
	margin-bottom: 20px;
}

#event-container .event-item p {
	margin-bottom: 5px;
}

#event-container .event-item-label {
	font-weight: bold;
}

.my-jumbotron {
	margin-bottom: 20px;
}
