.recorder {
	text-align: center;
}

.stopwatch-title {
	font-size: 20px;
}

.recorderTime {
	font-size: 60px;
	font-family: monospace;
	margin: 10px;
}

.recorderOutput {
	margin: 10px auto;
}

.recorderOutput > tr > td {
	padding: 10px;
	text-align: left;
	font-size: 16px;
}

.recorderButton {
	width: 170px;
}

.recorderDiffZero {
	color: #aaa;
}

.recorderDiffPositive {
	color: #f00;
}

.recorderDiffNegative {
	color: #0f0;
}
